.avatar{
  background-color: blueviolet;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}


// ion-content{
//   --margin-top: 50px;
// }

// .card-fix{
//   position: fixed;
// }
